@using BusinessObjects.DTO.User
@model UserResponse
<style>
    body {
    }

    .form-control:focus {
        box-shadow: none;
    }

    .profile-button {
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

</style>
<form method="post" action="../Home/Update">

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">@Model.FirstName @Model.MiddleName @Model.LastName</span><span class="text-black-50">@Model.Email</span><span> </span>
                </div>
            </div>


            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">FirstName</label>
                            <input style="border: 1px solid #dee2e6;" type="text" class="form-control" placeholder="first name" name="firstName" id="firstName" value="@Model.FirstName">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Middle Name</label>
                            <input style="border: 1px solid #dee2e6;" type="text" class="form-control" placeholder="Middle Name" name="middleName" id="middleName" value="@Model.MiddleName">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels text-center">LastName</label>
                            <input style="border: 1px solid #dee2e6;" type="text" class="form-control" placeholder="LastName" name="lastName" id="lastName" value="@Model.LastName">
                        </div>
                        <div class="col-md-12">
                            <div class="mb-1" id="roleForm">
                                <label for="publisher" class="form-label">Publisher</label>
                                <select style="border: 1px solid #dee2e6;" class="form-control" id="publisher" asp-for="PubId" name="publisher" asp-items="ViewBag.pubID"></select>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <label for="" class="form-label">Hire date</label>
                            @{
                                // Convert DateTime to string with "yyyy-MM-dd" format
                                string formattedDate = Model.HireDate?.ToString("yyyy-MM-dd");
                            }
                            <input style="border: 1px solid #dee2e6;" type="date" class="form-control" name="hireDate" id="hireDate" placeholder="hireDate" value="@formattedDate">
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

